.dashboard-sidebar {
  width: 150px;
  background-color: #34495e;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 60px); // Adjusted height to account for the header
  box-sizing: border-box;
  position: fixed;
  top: 60px; // Start the sidebar below the header
  left: 0;
  transition: width 0.3s; // Smooth transition for sidebar toggle

  &.collapsed {
    width: 50px; // Width when the sidebar is collapsed

    ul li {
      // Center the icons when collapsed
      display: flex;
      align-items: center;
      justify-content: center;
      
      .icon {
        display: block; // Show only the icon when collapsed
      }
      
      &:hover {
        background-color: #2c3e50;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;

    li {
      padding: 15px 0;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #2c3e50;
      }
    }
  }
}